<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :generating_request %>
  <%= text_input f, :generating_request %>
  <%= error_tag f, :generating_request %>

  <%= label f, :crawled_at %>
  <%= datetime_select f, :crawled_at %>
  <%= error_tag f, :crawled_at %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
