<h1>New Crawl request</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.crawl_request_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.crawl_request_path(@conn, :index) %></span>
