<h1>New Agent request</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.agent_request_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.agent_request_path(@conn, :index) %></span>
